config.py
config.py
stderr.txt
.gitignore
main.sub
test.log
stdout.txt
conda_activate.sh
dis80.npy
.gitignore
hpcp/10/dis2d.npy
.gitignore
hpcp/10/tmp_data.bin
hpcp/10/tmp_ver.txt
hpcp/10/labels.npy
label80.npy
notebooks/map.ipynb
